/* Add a background color to the header element */
body {
    color: black;
}
header {
    background-color: blueviolet;
    padding: .25cm;
}
h1 {
text-align: center;
}
/* Add a fun background color to the main element */
main {
    background-color: antiquewhite;
    width: 50cm;
    height: 15cm;
}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */
p {
color: blue;
font-style: italic;
font-size: medium;
}
/* Put a border around your image */
img {
    border: .086cm solid black;
    width: 200px;
    height: 300px;
    margin: 20px;
}
/* Change the font-family of your list */
ul {
    list-style-type: circle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    margin-bottom: 20px;
}
/* Add a background color to the footer element */
footer {
    background-color: blueviolet;
    padding: .25cm;
}